# Trying things

In [7]:
# importing relevant libraries
from datetime import datetime
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

# Importing unsupervised learning (clustering) libraries
from sklearn.datasets import make_blobs
from sklearn.cluster import AgglomerativeClustering
import scipy as sp
from scipy.cluster.hierarchy import linkage,dendrogram

## Data Exploration

In [8]:
data = pd.read_csv("all_data.csv", index_col=0)
data.head()

,Date,Year,Month,RegionName,State,Bottom-Tier Average Home Value Estimate,Top-Tier Average Home Value Estimate,Value,Anomaly (1901-2000 base period),1901-2000 Mean,StateAbbrv,Initial Fees and Charges (%),Effective Rate (%),Term to Maturity,Loan Amount ($thou),Purchase Price ($thou),Loan-to-Price Ratio (%),Share of Total Market (%)
0,2000-01-31,2000,1,Los Angeles County,CA,122826.545216,400192.738911,52.3,4.5,47.8,CA,0.93,8.01,15,103.0,173.6,64.7,7.0
1,2000-01-31,2000,1,Los Angeles County,CA,122826.545216,400192.738911,52.3,4.5,47.8,CA,0.81,8.20,30,129.9,166.8,81.1,61.1
2,2000-01-31,2000,1,Cook County,IL,71689.188026,302264.545103,24.9,2.4,22.5,IL,0.93,8.01,15,103.0,173.6,64.7,7.0
3,2000-01-31,2000,1,Cook County,IL,71689.188026,302264.545103,24.9,2.4,22.5,IL,0.81,8.20,30,129.9,166.8,81.1,61.1
4,2000-01-31,2000,1,Harris County,TX,61195.175569,217850.462915,57.4,5.6,51.8,TX,0.93,8.01,15,103.0,173.6,64.7,7.0

In [14]:
unsupervised = data[data.columns.difference(['Date', 'State', 'StateAbbrv', 'RegionName', 'Month', 'Term to Maturity','Year'])]

In [15]:
unsupervised

,1901-2000 Mean,Anomaly (1901-2000 base period),Bottom-Tier Average Home Value Estimate,Effective Rate (%),Initial Fees and Charges (%),Loan Amount ($thou),Loan-to-Price Ratio (%),Purchase Price ($thou),Share of Total Market (%),Top-Tier Average Home Value Estimate,Value
0,47.8,4.5,122826.545216,8.01,0.93,103.0,64.7,173.6,7.0,400192.738911,52.3
1,47.8,4.5,122826.545216,8.20,0.81,129.9,81.1,166.8,61.1,400192.738911,52.3
2,22.5,2.4,71689.188026,8.01,0.93,103.0,64.7,173.6,7.0,302264.545103,24.9
3,22.5,2.4,71689.188026,8.20,0.81,129.9,81.1,166.8,61.1,302264.545103,24.9
4,51.8,5.6,61195.175569,8.01,0.93,103.0,64.7,173.6,7.0,217850.462915,57.4
...,...,...,...,...,...,...,...,...,...,...,...
596361,49.7,1.6,110773.628880,4.50,1.12,247.5,81.9,310.5,67.9,422888.109971,51.3
596362,43.4,1.0,63998.579962,3.97,1.21,204.4,68.7,313.8,7.1,383781.835454,44.4
596363,43.4,1.0,63998.579962,4.50,1.12,247.5,81.9,310.5,67.9,383781.835454,44.4
596364,38.3,2.4,122291.987569,3.97,1.21,204.4,68.7,313.8,7.1,360289.995547,40.7
596365,38.3,2.4,122291.987569,4.50,1.12,247.5,81.9,310.5,67.9,360289.995547,40.7

In [16]:
sns.pairplot(unsupervised)